body {
  box-sizing: border-box;
}
.container {
  gap: 12%;
  width: 95vw;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  width: 450px;
  height: 450px;
}
.cell {
  width: 35px;
  height: 35px;
  background-color: blue;
}
.ship {
  background-color: grey;
}
.miss {
  background-color: pink;
}
.hit {
  background-color: red;
}
.sunk {
  background-color: black;
}
.final-msg {
  text-align: center;
  font-weight: 600;
  padding: 30px;
  font-size: 2.3rem;
  height: 50px;
  font-family: sans-serif;
}
.btn-group {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.btn-group button {
  width: 200px;
  height: 75px;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.7s ease-out;
  box-sizing: border-box;
  margin: 20px 100px;
}
#single {
  background-color: rgb(130, 255, 161);
}
#multi {
  background-color: rgb(243, 20, 12);
}
.btn-group button:hover {
  filter: brightness(85%);
  border: 1px solid black;
}
.fleet-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.ship-container {
  display: flex;
  gap: 10px;
  width: 170px;
}
